.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Hamburger button */
.hamburger-btn {
    position: absolute;
    top: 70px;
    right: 40px;
    font-size: 1.8rem;
    background: rgba(0,0,0,0.3);
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.sidebar-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100vh;
    background-color: rgb(30, 30, 38);
    box-shadow: -2px 0 10px rgba(0,0,0,0.7);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1002;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-panel::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.sidebar-panel.open {
    right: 0;
}

.sidebar-close-btn {
    align-self: flex-end;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: right;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.main::-webkit-scrollbar {
  background: transparent;
}

.page-wrapper {
    min-height: 100vh;
    background-color: rgb(33, 33, 41);
    background-image: radial-gradient(rgba(255,255,255, 0.3) 1px, transparent 1px);
    background-size: 20px 20px;
    overflow-y: hidden;
}

.page-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  background: transparent;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offset-box {
    transform: translateX(-590px);
}

.search-input {
    width: 900px;
    background-color: rgb(58, 58, 69);
    color: #ffffff;
    transform: translateX(-20px);
    font-size: 1.2rem;
    padding-left: 10px;
    border: none;
}

.search-btn {
    background-color: rgb(83, 83, 94);
    color: #ffffff;
    margin-left:  10px;
    transform: translateX(-20px);
    font-size: 1.2rem;
}