.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  gap: 20px;

  background-color: rgb(58, 58, 69);
  color: #E0E0E0;
  padding: 12px 24px;

  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

body {
  padding-top: 50px;
}

.nav-link {
  color: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  color: #f1f1f1;
}

.nav-link.active {
  background-color: #ffffff33;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}