.game-card {
    position: relative;
    background-color: rgb(30, 30, 38);
    padding: 10px;
    padding-top: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.game-cover {
    width: 100%;
    aspect-ratio: 3 / 4; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.game-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Game info */
.title {
    color: #fff;
    font-size: 1.5rem;
}

.game-info {
    margin-top: 12px;
    text-align: center;
    color: white;
    background-color: rgba(45, 45, 68, 0.4);
    padding: 5px;
    width: 90%;
    border-radius: 8px;
}

/* Wishlist overlay */
.game-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 12px;
    cursor: pointer;
    z-index: 10;
    pointer-events: none;
}

.game-card:hover .game-overlay {
    opacity: 1;
}

.wishlist-icon-btn {
    pointer-events: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.wishlist-icon-btn.wishlisted {
    color: rgb(241, 72, 100);
}
